<article class="meal-card">
  <div class="title">
    <h1>{{title}}</h1>
      <p>({{description}})</p>
      <img src="{{image}}" alt="{{format_img_alt image}}">
  </div>
  <div class="meta">
    {{selected_meal}}
</div>
</article>