<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Diet Delivery</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap" rel="stylesheet">

  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>

<body>
  <div class="wrapper">

     <header class="header">
        <h1><a href="/" class="header-logo">
        Diet Delivery</a></h1>
      <nav class="nav-section">
        {{#if loggedIn}}
          <div class="dashboard-button tooltip">
            <a href="/dashboard">
            <i class="fas fa-user user-icon">&nbsp;<span class="dashboard-link">Dashboard</span>
              {{#if display_name}}
                <span class="tooltiptext">{{display_name}}</span>
                  {{else}}
                    <span class="tooltiptext">{{format_display_name email}}</span>
              {{/if}}
            </i>
            </a>
          </div>
          <button id="logout" class="logout-btn">Log Out</button>
        {{else}}
          <a href="/login">Log In</a>
          <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>

    <main class="main-body">
      {{{ body }}}
    </main>

    {{!-- <footer class="footer">

    </footer> --}}
  </div>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>