{{user.username}}
{{user.email}}
{{user.id}}

{{user.first_name}}

{{#if user.meals.length}}
<section>
  <h2>Your Meals</h2>
  <ul>
    {{#each user.meals as |meal|}}
    <li>
      {{!-- {{user.meal.title}}
      {{user.meal.description}}
      {{user.meal.image}}
      {{user.meal.diets.diet_name}} --}}
      {{> meal-info meal}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>

